body {
    text-align: center;
}

header {
    background-color: #f5f5dc;
    padding-top: 20px;
}

h1 {
	padding-left: 2rem;
}

h2, h3 {
	padding-left: 2rem;
    padding-top: 2rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h5 {
    display: block;
}

h2 {
    padding-top: 0;
    padding-left: 20px;
}

.description {
    color: #800000;
}

p {
    padding-left: 2rem;
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 20px;
    color: #800000;
    font-weight: 750;
    background-color: #f5f5dc;
}

.space {
    padding-top: 0;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}


.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 1rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.icons {
	padding-left: 0;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.social .twitter {
    color: #55acee;   
}


.social .facebook {
    color: #4c66a4;
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
    
}

.content {
    color: white;
    max-width: 970px;
    width: 90%;
    margin: 0 auto;
    padding: 0 0.938rem;
    margin: 0 auto;
    /* min-width: 37.5rem; */
}

.content h2 {
    padding: 50px;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    margin-top: 1.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 500;
}

div {
   display: block; 
}

ol, ul {
    list-style: none;
    padding: 0;
}

.cases .devices > li {
    width: 33.3333333%;
    float: left;
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    padding-left: 0;
}

.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

.devices a {
    display: block;
    color: #666;
    text-decoration: none;
}

.thumbnail {
    background-image: url('../images/nytimeshack.png');
    width: 90%;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 5%;
    border: 1px solid black;
}

#about .thumbnail {
    background-image: url('../images/aboutpage.jpg');
}

#karma .thumbnail {
    background-image: url('../images/karmaclone.jpg');
}


@media screen and (max-width: 700px) {
  .cases .devices > li {
      width: 90%;
      margin: 0 5%;
      float: none;
  }

  img { 
    max-width: 100%; 
}

}


/* @media only screen and (max-width: 500px) {
    body {
        padding: 3em 0;
    }

    h1, h2, h3, p {
        font-size: 3em;
    }

}*/